# Ignore environment files
.env
.streamlit/secrets.toml

# Ignore Python virtual environment
venv/

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore any local configuration files
config.ini